
[*.{csproj,xml}]
indent_size = 2
end_of_line = crlf
indent_style = space

[*.{cs,vb}]
indent_style = space
tab_width = 4
indent_size = 4
end_of_line = crlf

[*.cs]
csharp_indent_labels = one_less_than_current
csharp_using_directive_placement = outside_namespace:silent
csharp_prefer_simple_using_statement = true:suggestion
csharp_prefer_braces = true:silent
csharp_style_namespace_declarations = block_scoped:silent
csharp_style_prefer_method_group_conversion = true:silent
csharp_style_prefer_top_level_statements = true:silent
csharp_style_prefer_primary_constructors = true:suggestion
csharp_style_expression_bodied_methods = false:silent
csharp_style_expression_bodied_constructors = false:silent
csharp_style_expression_bodied_operators = false:silent

# supress some IDE rules
dotnet_diagnostic.IDE0130.severity = none  # Namespace doesn't match folder
dotnet_diagnostic.IDE0290.severity = none  # Not using primary constructors
dotnet_diagnostic.CA1873.severity = none
